@media (max-width: 420px) {
    .hide-mobile {
        display: none;
    }

    .pop-up-child {
        margin-left: 32px;
    }

    .img-plus-subtask {
        right: -7px;
    }

    .img-arrow-select-board-div-assigned {
        top: 8px;
        right: 19px;
    }

    .checkbox-subtask {
        margin-left: 26px !important;
    }

    .hide {
        display: unset;
    }

    .hide-status {
        display: unset;
    }

    .btn-for-mobile {
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 118px;
        margin-bottom: 0px;
        vertical-align: 14px;
        cursor: pointer;
    }

    .icon-plus {
        height: 10px;
        width: 10px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
        border-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-top: 10px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .main-container::-webkit-scrollbar {
        width: 20px;
        display: none;
    }

    .main-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #F5F5F5;
        border-radius: 10px;
        display: none;
    }

    .main-container::-webkit-scrollbar-thumb {
        background: #F5F5F5;
        border-radius: 10px;
    }

    .main-container::-webkit-scrollbar-thumb:hover {
        background: #F5F5F5;
    }

    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
        font-size: 35px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
    }

    .box {
        width: 230px;
        padding: 10px 19px;
    }

    .scrollbar-task {
        height: 31vh;
    }

    .margin-top-for-more-distance {
        margin-top: 150px !important;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 258px;
    }

    .container-for-seperate-left-and-right-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        top: 0;
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100%;
    }

    .title-popup {
        width: 300px;
        margin-left: 26px;
    }

    .parent-subtask-div {
        width: 300px;
    }

    .subtask-popup {
        width: 300px;
        margin-left: 26px;
    }

    .description-popup {
        width: 300px;
        margin-left: 26px;
    }

    .category-parent-div-board {
        width: 327px;
    }

    .category-popup {
        width: 300px;
        margin-left: 26px;
    }

    .assignedto-parent-div-board {
        margin-left: 26px;
        width: 300px;
        font-size: 20px;
    }

    .assignedto-popup {
        width: 300px;
        margin-left: 26px;
    }

    .duedate-popup {
        width: 300px;
        margin-left: 26px;
    }

    .prio-popup {
        width: 300px;
        margin-left: 26px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 135px;
        font-size: 15px;
    }

    .medium-popup {
        width: 135px;
        font-size: 15px;
    }

    .low-popup {
        width: 135px;
        font-size: 15px;
    }

    .btn-popup {
        width: 323px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        display: flex;
        justify-content: center;
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        padding: 0;
        height: 100vh;
        min-height: unset;
        overflow-y: scroll;
    }

    .open-position-for-edit {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        min-height: unset;
    }

    .assigned-open-task {
        margin-left: 10px;
    }

    .category-open-task {
        margin-left: 10px;
    }

    .subtask-title-open-task {
        margin-left: 10px;
    }

    .subtask-container-open-task {
        margin-left: 10px;
    }

    .title-open-task {
        margin-left: 10px;
    }

    .description-open-task {
        margin-left: 10px;
    }

    .duedate-open-task {
        margin-left: 10px;
    }

    .priority-open-task {
        margin-left: 10px;
    }

    .person-assigned-open-task-container {
        margin-left: 10px;
    }

    .close-open-task {
        margin-right: 25px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 270px;
        margin-left: 26px;
    }

    .pop-up-child-edit {
        margin-left: 15px !important;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 290px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }

    .title-popup-edit {
        margin-left: 10px;
        width: 290px;
    }

    .description-popup-edit {
        margin-left: 10px;
        width: 290px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 290px;
    }

    .duedate-popup-edit {
        margin-left: 10px;
        width: 290px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 290px;
    }

    .prio-popup-edit {
        margin-left: 10px;
    }

    .urgent-popup-edit {
        width: 90px !important;
        font-size: 15px;
    }

    .medium-popup-edit {
        width: 90px !important;
        font-size: 15px;
    }

    .low-popup-edit {
        width: 90px !important;
        font-size: 15px;
    }

    .open-position-for-edit {
        padding: unset;
     }

     .assignedto-popup-edit {
        margin-left: 10px;
        width: 290px;
        margin-bottom: 12px !important;
     }
}

@media (min-width: 421px) and (max-width: 500px) {
    .hide-mobile {
        display: none;
    }

    .img-plus-subtask {
        right: -7px;
    }

    .img-arrow-select-board-div-assigned {
        top: 8px;
        right: 19px;
    }

    .checkbox-subtask {
        margin-left: 26px !important;
    }

    .hide {
        display: unset;
    }

    .hide-status {
        display: unset;
    }

    .btn-for-mobile {
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 118px;
        margin-bottom: 0px;
        vertical-align: 14px;
        cursor: pointer;
        margin-left: 198px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
        border-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-top: 10px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .main-container::-webkit-scrollbar {
        width: 20px;
        display: none;
    }

    .main-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #F5F5F5;
        border-radius: 10px;
        display: none;
    }

    .main-container::-webkit-scrollbar-thumb {
        background: #F5F5F5;
        border-radius: 10px;
    }

    .main-container::-webkit-scrollbar-thumb:hover {
        background: #F5F5F5;
    }


    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
        font-size: 35px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
    }

    .box {
        width: 300px;
        padding: 10px 19px;
    }

    .scrollbar-task {
        height: 31vh;
    }

    .margin-top-for-more-distance {
        margin-top: 150px !important;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 336px;
    }

    .container-for-seperate-left-and-right-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        top: 0;
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100%;
    }

    .pop-up-child-edit {
        margin-left: 15px !important;
    }

    .title-popup {
        width: 360px;
        margin-left: 26px;
    }

    .parent-subtask-div {
        width: 360px;
    }

    .subtask-popup {
        width: 360px;
        margin-left: 26px;
    }

    .description-popup {
        width: 360px;
        margin-left: 26px;
    }

    .category-parent-div-board {
        width: 386px;
    }

    .category-popup {
        width: 360px;
        margin-left: 26px;
    }

    .assignedto-parent-div-board {
        margin-left: 26px;
        width: 360px;
    }

    .assignedto-popup {
        width: 360px;
        margin-left: 26px;
    }

    .duedate-popup {
        width: 360px;
        margin-left: 26px;
    }

    .prio-popup {
        width: 360px;
        margin-left: 26px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 135px;
        font-size: 15px;
    }

    .medium-popup {
        width: 135px;
        font-size: 15px;
    }

    .low-popup {
        width: 135px;
        font-size: 15px;
    }

    .btn-popup {
        width: 360px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        display: flex;
        justify-content: center;
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .open-position-for-edit {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        min-height: unset;
    }

    .category-open-task {
        margin-left: 10px;
    }

    .subtask-title-open-task {
        margin-left: 10px;
    }

    .subtask-container-open-task {
        margin-left: 10px;
    }

    .title-open-task {
        margin-left: 10px;
    }

    .description-open-task {
        margin-left: 10px;
    }

    .duedate-open-task {
        margin-left: 10px;
    }

    .priority-open-task {
        margin-left: 10px;
    }

    .assigned-open-task {
        margin-left: 10px;
    }

    .person-assigned-open-task-container {
        margin-left: 10px;
    }

    .close-open-task {
        margin-right: 25px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 340px;
        margin-left: 26px;
    }

    .pop-up-child {
        margin-left: 26px;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 360px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }

    .title-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .description-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .duedate-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .subtask-popup-edit {
        margin-left: 10px;
        width: 360px;
    }

    .prio-popup-edit {
        margin-left: 10px;
    }

    .assignedto-popup {
        margin-left: 10px;
    }

    .assignedto-popup-edit {
        margin-bottom: 12px !important;
    }

    .urgent-popup-edit {
        width: 112px !important;
        font-size: 15px;
    }

    .medium-popup-edit {
        width: 112px !important;
        font-size: 15px;
    }

    .low-popup-edit {
        width: 112px !important;
        font-size: 15px;
    }

    .open-position-for-edit {
        padding: unset;
     }
}



@media (min-width: 501px) and (max-width: 850px) {
    .hide-mobile {
        display: none;
    }

    .subtask-container-open-task {
        margin-right: 120px;
    }

    .checkbox-subtask {
        margin-left: 10px !important;
    }

    .assigned-for-checkbox-board {
        width: 422px !important;
    }

    .assignedto-parent-div-board {
        width: 430px !important;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .img-arrow-select-board-div-assigned {
        right: 9px;
    }

    .margin-top-for-more-distance {
        margin-top: 150px !important;
    }

    .img-plus-subtask {
        right: 6px;
    }

    .hide {
        display: unset;
    }

    .hide-status {
        display: unset;
    }

    .btn-for-mobile {
        cursor: pointer;
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 121px;
        margin-bottom: 0px;
        vertical-align: 14px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
        border-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: unset;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .main-container::-webkit-scrollbar {
        width: 20px;
        display: none;
    }

    .main-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #F5F5F5;
        border-radius: 10px;
        display: none;
    }

    .main-container::-webkit-scrollbar-thumb {
        background: #F5F5F5;
        border-radius: 10px;
    }

    .main-container::-webkit-scrollbar-thumb:hover {
        background: #F5F5F5;
    }


    .first-container {
        width: 362px;
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        width: 362px;
        display: unset;
        justify-content: unset;
        margin-left: unset;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 31vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        margin-bottom: 15.5px;
        margin-top: 60px;
        width: 341px;
    }

    .container-for-seperate-left-and-right-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        top: 0;
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100%;
    }

    .margin-popup {
        margin-top: 10px;
    }

    .title-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .parent-subtask-div {
        width: 430px;
    }

    .subtask-popup {
        width: 430px;
        margin-left: 10px;
    }

    .description-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .category-parent-div-board {
        width: 440px;
    }

    .category-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .assignedto-popup {
        margin-bottom: unset;
    }

    .duedate-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .prio-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 135px;
        font-size: 18px;
    }

    .medium-popup {
        width: 135px;
        font-size: 18px;
    }

    .low-popup {
        width: 135px;
        font-size: 18px;
    }

    .btn-popup {
        width: 430px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        display: flex;
        justify-content: center;
        font-size: 38px;
        margin-left: 10px;
    }

    .pop-up-child-edit {
        margin-left: 7px !important;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .open-position-for-edit {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100%;
        min-height: unset;
    }

    .category-open-task {
        margin-left: 60px;
    }

    .subtask-title-open-task {
        margin-left: 60px;
    }

    .subtask-container-open-task {
        margin-left: 60px;
    }

    .title-open-task {
        margin-left: 60px;
    }

    .description-open-task {
        margin-left: 60px;
    }

    .duedate-open-task {
        margin-left: 60px;
    }

    .priority-open-task {
        margin-left: 60px;
    }

    .assigned-open-task {
        margin-left: 60px;
    }

    .person-assigned-open-task-container {
        margin-left: 60px;
    }

    .close-open-task {
        margin-right: 100px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 430px;
    }

    .person-and-profile-assigned-open-task-container-hook {
        margin-right: 100px;
    }

    .pop-up-child {
        margin-left: 10px;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 428px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }

    .open-position-for-edit {
       padding: unset;
    }

    .assignedto-popup-edit {
        margin-bottom: 12px !important;
     }
}

@media (min-width: 851px) and (max-width: 1300px) {
    .hide-status {
        display: none;
    }

    .btn-for-mobile {
        cursor: pointer;
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 76px;
        margin-bottom: 0px;
        vertical-align: 14px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
        border-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 157px;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .main-container::-webkit-scrollbar {
        width: 20px;
        display: none;
    }

    .main-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #F5F5F5;
        border-radius: 10px;
        display: none;
    }

    .main-container::-webkit-scrollbar-thumb {
        background: #F5F5F5;
        border-radius: 10px;
    }

    .main-container::-webkit-scrollbar-thumb:hover {
        background: #F5F5F5;
    }


    .first-container {
        flex-direction: column;
        justify-content: center;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        width: 412px;
        flex-direction: column;
        justify-content: center;
        margin-left: unset;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 31vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .seperate-line-popup {
        display: none;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .container-for-seperate-left-and-right-content {
        display: unset;
        justify-content: unset;
    }

    .img-arrow-select-board-div-assigned {
        right: 18px !important;
    }

    .assigned-for-checkbox-board {
        width: 430px !important;
    }

    .padding-popup-box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        top: 0;
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
    }

    .margin-popup {
        margin-top: unset;
        margin-bottom: unset;
    }

    .title-popup {
        width: 455px;
    }

    .parent-subtask-div {
        width: 455px;
    }

    .subtask-popup {
        width: 455px;
    }

    .description-popup {
        width: 455px;
    }

    .category-parent-div-board {
        width: 455px;
    }

    .category-popup {
        width: 455px;
    }

    .assignedto-parent-div-board {
        width: 455px;
    }

    .assignedto-popup-board {
        width: 455px !important;
    }

    .duedate-popup {
        width: 455px;
    }

    .prio-popup {
        width: 455px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 135px;
        font-size: 16px;
    }

    .medium-popup {
        width: 135px;
        font-size: 16px;
    }

    .low-popup {
        width: 135px;
        font-size: 16px;
    }

    .btn-popup {
        width: 455px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
    }

    /*details task*/
    .open-position {
        left: 310px;
        top: 0;
        min-height: 660px;
    }

    .category-open-task {
        margin-bottom: 12px;
    }

    .title-open-task {
        margin-bottom: 12px;
    }

    .description-open-task {
        margin-bottom: 12px;
    }

    .subtask-container-open-task {
        margin-bottom: 12px;
    }

    .duedate-open-task {
        margin-bottom: 12px;
    }

    .container-priority-open-task {
        margin-bottom: 12px;
    }

    .person-and-profile-assigned-open-task-container-hook {
        margin-bottom: 12px;
    }


    /* edit task*/
    .open-position-for-edit {
        left: 310px;
        top: 0;
        min-height: 660px;
    }

    .pop-up-child {
        font-size: 18px;
    }

    .title-popup-edit {
        margin-bottom: 8px;
        height: 40px;
        font-size: 17px;
    }

    .description-popup-edit {
        margin-bottom: 8px;
        font-size: 17px;
    }

    .subtask-popup-edit {
        margin-bottom: 8px;
        height: 40px;
        font-size: 17px;
    }

    .duedate-popup-edit {
        margin-bottom: 8px;
        height: 40px;
        font-size: 17px;
    }

    .prio-popup-edit {
        margin-bottom: 8px;
    }

    .assignedto-popup-edit {
        margin-bottom: 8px !important;
        height: 40px !important;
        font-size: 17px;
    }
}

@media (min-width: 1301px) and (max-width: 1551px) {
    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .assigned-for-checkbox-board {
        width: 435px !important;
    }

    .padding-popup-box {
        padding: 35px;
    }

    .add-task-pop-up {
        left: 60px;
    }

    .hide-status {
        display: none;
    }

    .btn {
        font-size: 18px;
        margin-left: 25px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: unset;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .main-container::-webkit-scrollbar {
        width: 20px;
        display: none;
    }

    .main-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px #F5F5F5;
        border-radius: 10px;
        display: none;
    }

    .main-container::-webkit-scrollbar-thumb {
        background: #F5F5F5;
        border-radius: 10px;
    }

    .main-container::-webkit-scrollbar-thumb:hover {
        background: #F5F5F5;
    }


    .first-container {
        justify-content: center;
        margin-left: 339px;
    }

    .inputfield-and-button {
        margin-top: 17px;
    }

    .inputfield-container {
        margin-left: 157px;
    }

    .text-board {
        margin-bottom: 30px;
        font-size: 47px;
    }

    .second-container {
        flex-direction: column;
        justify-content: center;
        margin-left: unset;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 31vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .margin-popup {
        margin-top: 10px;
    }

    .title-popup {
        width: 455px;
    }

    .parent-subtask-div {
        width: 455px;
    }

    .subtask-popup {
        width: 455px;
    }

    .description-popup {
        width: 455px;
    }

    .category-parent-div-board {
        width: 455px;
    }

    .category-popup {
        width: 455px;
    }

    .assignedto-parent-div-board {
        width: 455px;
    }

    .assignedto-popup {
        width: 455px;
    }

    .duedate-popup {
        width: 455px;
    }

    .prio-popup {
        width: 455px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 145px;
        font-size: 18px;
    }

    .medium-popup {
        width: 145px;
        font-size: 18px;
    }

    .low-popup {
        width: 145px;
        font-size: 18px;
    }

    .btn-popup {
        width: 455px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        left: 410px;
        top: 85px;
    }

    .open-position-for-edit {
        left: 410px;
        top: 85px;
    }
}
