@media(max-width: 1160px) {
    .overlay-add-contact-container {
        height: 450px;
        width: 800px;
    }

    .overlay-left-part {
        height: inherit;
        width: 300px;
        padding: 65px 20px;
    }

    .overlay-headline {
        width: inherit;
        font-size: 40px;
        height: auto;
    }

    .overlay-join-logo {
        width: 50px;
        height: 60px;
    }

    .overlay-right-part {
        padding: 10px;
    }

    .overlay-user-initials {
        width: 90px;
        height: 90px;
        font-size: 30px;
        margin-top: -13%;
    }

    .close-overlay {
        top: -40px;
        right: 15px;
    }

    .overlay-contacts-details-container {
        width: 370px;
        height: 250px;
        gap: 25px;
        justify-content: center;
    }

    .overlay-contacts-details-frame {
        width: 350px;
    }

    .overlay-input-design {
        width: 350px;
        padding: 10px 10px;
    }

    .input-icon-user {
        background-position-x: 315px;
    }

    .input-icon-phone {
        background-position-x: 315px;
    }

    .input-icon-letter {
        background-position-x: 315px;
    }

    .overlay-slogan {
        font-size: 20px;
    }

    .overlay-user-icon-container {
        width: 90px;
        height: 90px;
    }

    .overlay-btn-frame {
        margin-right: -35px;
        width: 100%;
    }

    .overlay-save-frame {
        width: 85%;
    }

    .overlay-cancel-btn {
        display: none;
    }
}


@media(max-width: 850px) {
    .overlay-add-contact-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 85%;
        position: absolute;
        top: 10px;
    }

    .overlay-left-part {
        height: 40%;
    }

    .overlay-right-part {
        height: 60%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }

    .overlay-join-logo {
        display: none;
    }

    .overlay-slogan {
        width: 275px
    }

    .user-contacts-help-frame {
        flex-direction: column;
    }

    .overlay-user-icon-container {
        position: absolute;
        top: 32%;
    }

    .close-overlay {
        display: none;
    }

    .close-overlay-rs {
        display: block;
        position: absolute;
        top: 25px;
        padding-right: 5px;
    }

    .overlay-contacts-details-frame {
        align-items: center;
        width: auto;
    }

    .overlay-contacts-details-container {
        width: inherit;
        height: 200px;
    }

    .overlay-btn-frame {
        margin-right: 0;
    }

    .overlay-headline {
        width: 250px;
    }

    .overlay-save-frame {
        width: 100%;
    }

    .overlay-user-initials {
        position: absolute;
        top: 32%;
        left: 41%;
        margin-top: 0;
    }
}


@media(max-width: 400px) {
    .overlay-left-part {
        width: 270px;
        padding-right: 0;
        padding-left: 10px;
    }

    .overlay-input-design {
        width: 240px;
        font-size: 16px;
    }

    .input-icon-letter {
        background-position-x: 210px;
    }

    .input-icon-phone {
        background-position-x: 210px;
    }

    .input-icon-user {
        background-position-x: 210px;
    }

    .overlay-contacts-details-frame {
        gap: 0;
    }

    .overlay-slogan {
        font-size: 16px;
        width: 260px;
    }

    .overlay-user-icon-container {
        height: 80px;
        width: 80px;
    }

    .overlay-user-icon-white {
        width: 30px;
        height: auto;
    }

    .overlay-headline {
        font-size: 30px;
    }

    .overlay-user-initials {
        left: 35%;
    }
}