body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter';
}

.kanban-title {
    margin-top: 30px;
}

.contacts-headline-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 550px;
    position: absolute;
    top: 130px;
    left: 600px;
    z-index: -1;
}

.contacts-headline {
    height: 73px;
    font-weight: 700;
    font-size: 50px;
}

.contacts-border {
    height: 50px;
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
}

.contacts-slogan {
    height: 32px;
    font-size: 22px;
    color: #2A3647;
}

.new-contacts-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 3%;
    gap: 10px;
    width: 193px;
    height: 53px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.new-contacts-btn:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new-contacts-btn-text {
    width: 130px;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.new-contacts-icon {
    width: 33px;
    height: 29px;
}

.new-contacts-btn-rs {
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 25px;
    gap: 10px;
    width: 193px;
    height: 53px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.new-contacts-btn-rs:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-book-main {
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 400px;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 231px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.contact-book-main-rs {
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 400px;
    height: calc(100% - 80px);
    position: absolute;
    top: 80px;
    left: 231px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    z-index: -1;
    display: none;
    flex-direction: column;
}

.contact-book-container {
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    border-radius: 10px;
    background: #FFFFFF;
    margin-top: 15px;
}

.contact-book-container:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    cursor: pointer;
}

.contact-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #29ABE2;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid white;
}

.contact-book-frame {
    width: 70%;
}

.contact-book-name {
    font-size: 20px;
    word-wrap: break-word;
}

.contact-book-email {
    color: #007CEE;
}

.business-card-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 250px;
    left: 690px;
}

.business-card-header {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 500px;
}

.business-card-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
    background-color: #29ABE2;
    border-radius: 100%;
    font-size: 28px;
    border: 3px solid white;
}

.business-card-name {
    font-size: 35px;
    word-wrap: break-word;
    width: 360px;
}

.business-card-task {
    text-decoration: none;
    color: #29ABE2;
    font-size: 14px;
}

.business-card-text {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.business-card-edit-frame {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.business-card-edit-frame img {
    height: 20px;
}

.business-card-edit-frame:hover {
    cursor: pointer;
    text-decoration: underline;
}

.business-card-email-frame {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.business-card-email-headline {
    font-weight: bold;
}

.business-card-email {
    color: #007CEE;
}

.business-card-phone-frame {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.business-card-phone-headline {
    font-weight: bold;
}

.delete-contact {
    margin-top: 40px;
    cursor: pointer;
}

.edit-responsive {
    display: none;
    cursor: pointer;
}

.contacts-back-btn {
    box-sizing: border-box;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    padding-right: 10px;
    height: 20px;
    margin-top: -20px;
    opacity: 0;
}

.contacts-back-btn:hover {
    cursor: pointer;
}

.edit-responsive-form {
    display: none;
}

.kanban-title {
    display: none;
}

.d-none {
    display: none;
}