@media(max-width: 1210px) {
    .contact-book-main {
        width: 280px;
        word-wrap: break-word;
    }

    .contact-book-container {
        padding-left: 0;
        gap: 15px;
    }

    .contacts-headline-container {
        width: 378px;
        gap: 10px;
        left: 460px;
    }

    .contacts-headline {
        height: auto;
        font-size: 30px;
    }

    .contacts-border {
        height: 40px;
    }

    .contacts-slogan {
        height: auto;
        font-size: 18px;
    }

    .business-card-main {
        left: 530px;
    }

    .business-card-header {
        gap: 15px;
        width: 480px;
    }

    .business-card-initials {
        width: 70px;
        height: 70px;
        font-size: 23px;
    }

    .business-card-name {
        font-size: 30px;
        width: 225px;
    }
}


@media(max-width: 1030px) {
    .business-card-header {
        width: 300px;
    }

    .business-card-initials {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }

    
}


@media(max-width: 850px) {
    .kanban-title {
        display: block;
        padding-left: 20px;
    }

    .save-contact-form {
        display: none;
    }

    .edit-responsive-form {
        display: block;
    }

    .business-card-main {
        left: 20px;
        margin-top: -35px;
        word-wrap: break-word;
        display: none;
    }

    .business-card-header {
        width: auto;
    }

    .business-card-edit-frame {
        display: none;
    }

    .business-card-phone-frame {
        margin-top: 15px;
    }

    .business-card-email-frame {
        margin-top: 15px;
    }

    .contacts-headline-container {
        width: auto;
        left: 20px;
        top: 145px;
        display: none;
    }

    .contact-book-main {
        display: none;
    }

    .contact-book-main-rs {
        width: 100%;
        left: 0;
        padding-top: 55px;
        display: flex;
        word-wrap: break-word;
        min-height: initial;
        height: calc(100% - 160px);
    }

    .contact-book-container {
        justify-content: flex-start;
    }

    .contact-circle {
        height: 45px;
        width: 45px;
    }

    .new-contacts-btn {
        display: none;
    }

    .new-contacts-btn-rs {
        display: flex;
    }

    .edit-responsive {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .delete-contact {
        margin-top: 0;
    }

    .contacts-back-btn {
        opacity: 1;
    }
}


@media(max-width: 350px) {
    .contacts-headline {
        font-size: 20px;
    }

    .contacts-slogan {
        font-size: 14px;
    }

    .kanban-title {
        font-size: 14px;
    }

    .business-card-name {
        width: 160px;
    }
}