<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>

<body>

    <header>
        <img class="header-join-logo" src="assets/img/favicon/join.logo-dark.png">
        <div class="header-text">Kanban Project Management Tool</div>
        <div class="header-frame-right">
            <a class="header-help" href="help.html" id="addActiveClass-6">
                <div>
                    <img src="assets/img/header/help-icon.png">
                </div>
            </a>
            <div class="header-image-border">
                <div class="header-image-frame">
                    <div class="header-user-image" onclick="showLogout()"></div>
                </div>
            </div>
        </div>
    </header>

    <div id="header-logout"></div>

</body>

</html>