<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon/join.logo-dark.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/board.css">
    <script src="assets/js/script.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/board.js"></script>
    <script src="assets/js/addTask.js"></script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/register.js"></script>
    <script src="assets/js/mini_backend.js"></script>
    <script> setURL('https://gruppe-330.developerakademie.net/smallest_backend_ever/');</script>
    <script src="assets/js/summary.js"></script>
    <title>Summary</title>
</head>

<body>
        <div class="summary-headline-container">
            <div class="summary-headline-left">Summary</div>
            <div class="summary-headline-middle"></div>
            <div class="summary-headline-right">Everything in a nutshell</div>
            <div class="summary-headline-middle2"></div>
        </div>

        <div class="summary-greet-container">
            <div class="summary-greet-top" id="welcome">Good morning,</div>
            <div class="summary-greet-bottom" id="my-name">Sofia Müller</div>
        </div>

        <div class="summary-details-container">
            <div class="summary-tasks-container">
                <a href="board.html">
                    <div class="summary-tasks-btn">
                        <div class="summary-tasks-frame">
                            <div class="summary-tasks-amount" id="summary-tasks-amount-alltasks">0</div>
                            <div class="summary-tasks-text">Tasks in Board</div>
                        </div>
                    </div>
                </a>
                <a href="board.html">
                    <div class="summary-tasks-btn">
                        <div class="summary-tasks-frame">
                            <div class="summary-tasks-amount" id="summary-tasks-amount-task-in-progress">0</div>
                            <div class="summary-tasks-text">Tasks in Progress</div>
                        </div>
                    </div>
                </a>
                <a href="board.html">
                    <div class="summary-tasks-btn">
                        <div class="summary-tasks-frame">
                            <div class="summary-tasks-amount" id="summary-tasks-amount-awaiting-feedback">0</div>
                            <div class="summary-tasks-text">Awaiting Feedback</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="summary-urgency-container">
                <a href="board.html">
                    <div class="summary-urgency-frame">
                        <div class="summary-urgency-image" id="summary-urgency-image">

                            <img src="assets/img/summary/urgency-high.png" id="summary-urgency-image-arrow-urgent1">
                            <img src="assets/img/summary/urgency-high.png" id="summary-urgency-image-arrow-urgent2">

                        </div>
                        <div class="summary-urgency-details">
                            <div class="summary-urgency-class" id="summary-tasks-amount-urgend">0</div>
                            <div class="summary-urgency-text" id="summary-urgency-text">Urgent</div>
                        </div>
                    </div>
                    <div class="summary-urgency-border"></div>
                    <div class="summary-urgency-deadline">
                        <div class="summary-deadline-top" id="summary-tasks-amount-urgend-date">October 16, 2022</div>
                        <div class="summary-deadline-bottom">Upcoming Deadline</div>
                    </div>
                </a>
            </div>


            <div class="summary-to-do-container">
                <a href="board.html">
                    <div class="summary-to-do-frame">
                        <div class="summary-pen-image"></div>
                        <div class="summary-to-do-check">
                            <div class="summary-to-do-amount" id="summary-tasks-amount-to-do">0</div>
                            <div class="summary-to-do-text">To-do</div>
                        </div>
                    </div>
                </a>

                <a href="board.html">
                    <div class="summary-to-do-frame">
                        <div class="summary-done-image"></div>
                        <div class="summary-to-do-check">
                            <div class="summary-to-do-amount" id="summary-tasks-amount-done">0</div>
                            <div class="summary-to-do-text">Done</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="responsive-container">
            </div>

</body>

</html>